.ipynb_checkpoints
__pycache__
wandb
run*.sh
run*.pbs
backend/start_server.ps1
backend/model/model_clean
backend/model/model_no_clean_no_semantics
backend/model/model_semantics
backend/model/model_semantics_clean
testaudio